<section class="basket">
  <div class="container">
    <h1 class="basket__title">
      Корзина товаров
    </h1>
    <div class="basket__inner">
      <div class="basket__img">
        <img loading="lazy" src="img/basket-decor.svg" width="84" height="98" alt="">
      </div>
      <h2 class="basket__subtitle">
        Ваша корзина на <br> данный момент пуста.
      </h2>
      <p class="basket__text">
        Прежде чем приступить к оформлению заказа, вы должны добавить некоторые товары в корзину. На странице "Каталог"
        вы найдете много интересных товаров.
      </p>
      <a class="basket__link" href="#">
        Перейти в каталог
      </a>
    </div>
  </div>
</section>
