<section class="contacts">
  <div class="container">
    <h1 class="contacts__title">
      Наши контакты
    </h1>
    <div class="contacts__inner">
      <div class="contacts__item">
        <h2 class="contacts__item-title">
          напишите нам
        </h2>
        <form action="#" class="contacts-form">
          <div class="contacts-form__item">
            <span class="contacts-form__text">
              Ваше имя:
            </span>
            <label class="contacts-form__label">
              <input type="text" name="Имя" class="input-reset contacts-form__input" required
                placeholder="Введите ваш имя">
            </label>
          </div>
          <div class="contacts-form__item">
            <span class="contacts-form__text">
              Ваш email:
            </span>
            <label class="contacts-form__label">
              <input type="email" name="email" class="input-reset contacts-form__input" required
                placeholder="Email адрес">
            </label>
          </div>
          <div class="contacts-form__item">
            <span class="contacts-form__text">
              Номер телефона:
            </span>
            <label class="contacts-form__label">
              <input type="tel" name="tel" class="input-reset contacts-form__input" required
                placeholder="+7 (000) 000 - 00 - 00">
            </label>
          </div>
          <div class="contacts-form__item">
            <span class="contacts-form__text">
              Текст сообщения:
            </span>
            <label class="contacts-form__label">
              <textarea type="text" name="Сообщение" class="input-reset contacts-form__input"
                placeholder="Опишите ваш вопрос как можно подробнее"></textarea>
            </label>
          </div>
          <div class="contacts-form__box">
            <button class="btn-reset contacts-form__btn">Задать вопрос</button>
            <label class="contacts-form__checkbox">
              <input type="checkbox" class="contacts-form__checkbox-field" required checked>
              <span class="contacts-form__checkbox-content">
                Даю согласие на обработку персональных данных в соответствии с <a href="#">политикой
                  конфиденциальности</a>
              </span>
            </label>
          </div>
        </form>
      </div>
      <div class="contacts__item">
        <h2 class="contacts__item-title">
          Связаться с нами
        </h2>
        <p class="contacts__item-text">
          Вы можете связаться с нами любым удобным для вас способом:
        </p>
        <ul class="contacts__list list-reset">
          <li class="contacts__list-item">
            <div class="contacts__list-img">
              <img loading="lazy" src="img/icons/contacts-1.svg" width="35" height="32" alt="">
            </div>
            <div class="contacts__list-box">
              <span class="contacts__list-label">
                Телефон:
              </span>
              <div class="contacts__list-content">
                <a class="contacts__phone" href="tel:+7 993 608 38 85">+7 993 608 38 85</a>
              </div>
            </div>
          </li>
          <li class="contacts__list-item">
            <div class="contacts__list-img">
              <img loading="lazy" src="img/icons/contacts-2.svg" width="35" height="32" alt="">
            </div>
            <div class="contacts__list-box">
              <span class="contacts__list-label">
                Email:
              </span>
              <div class="contacts__list-content">
                <a class="contacts__mail" href="mailto:info@xwear.info">info@xwear.info</a>
              </div>
            </div>
          </li>
          <li class="contacts__list-item">
            <div class="contacts__list-img">
              <img loading="lazy" src="img/icons/contacts-3.svg" width="35" height="32" alt="">
            </div>
            <div class="contacts__list-box">
              <span class="contacts__list-label">
                График работы:
              </span>
              <div class="contacts__list-content">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс. Выходные
              </div>
            </div>
          </li>
          <li class="contacts__list-item">
            <div class="contacts__list-img">
              <img loading="lazy" src="img/icons/contacts-4.svg" width="35" height="32" alt="">
            </div>
            <div class="contacts__list-box">
              <span class="contacts__list-label">
                Наши соц.сети:
              </span>
              <div class="contacts__list-content">
                <ul class="soc1al__list list-reset">
                  <li class="soc1al__item">
                    <a class="soc1al__link soc1al__link--vk" href="#">
                      <img loading="lazy" src="img/vk-icon.svg" width=30"" height="30" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
        <ul class="manager__solial-list list-reset">
          <li class="manager__solial-item">
            <a class="manager__solial-link" href="#">
              <div class="manager__solial-img">
                <img src="img/icons/tg.svg" alt="">
              </div>
              <span class="manager__solial-text">Написать в Telegram</span>
            </a>
          </li>
          <li class="manager__solial-item">
            <a class="manager__solial-link" href="#">
              <div class="manager__solial-img">
                <img src="img/icons/wa.svg" alt="">
              </div>
              <span class="manager__solial-text">Написать в whatsapp</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
