<section class="entry">
  <div class="container">
    <h1 class="entry__title">
      Аккаунт
    </h1>
    <div class="entry__inner">
      <div class="entry__item">
        <h4 class="entry__item-title">
          Войти
        </h4>
        <form action="#" class="entry-form">
          <div class="entry-form__item">
            <label class="entry-form__label">
              <span class="entry-form__label-text">Email адрес:</span>
              <input type="email" name="login" class="input-reset entry-form__input" required placeholder="yavasyaivanov@gmail.com">
            </label>
          </div>
          <div class="entry-form__item">
            <span class="entry-form__label-text">Пароль:</span>
            <label class="entry-form__label">
              <input type="password" name="password" class="input-reset entry-form__input" required placeholder="*********************">
            </label>
          </div>
          <div class="entry-form__details">
            <label class="entry-form__details-checkbox">
              <input type="checkbox" class="entry-form__details-checkbox-field" required>
              <span class="entry-form__details-checkbox-content">Запомнить меня</span>
            </label>
            <a class="entry-form__details-link" href="#">Забыли пароль?</a>
          </div>
          <button class="btn-reset entry-form__btn">Войти</button>
        </form>
      </div>
      <div class="entry__item">
        <h4 class="entry__item-title">
          Регистрация
        </h4>
        <form action="#" class="entry-form">
          <div class="entry-form__item">
            <label class="entry-form__label">
              <span class="entry-form__label-text">Email адрес:</span>
              <input type="email" name="login" class="input-reset entry-form__input" required placeholder="yavasyaivanov@gmail.com">
            </label>
          </div>
          <div class="entry-form__item">
            <span class="entry-form__label-text">Пароль:</span>
            <label class="entry-form__label">
              <input type="text" name="password" class="input-reset entry-form__input" required placeholder="*********************">
            </label>
          </div>
          <div class="entry-form__item">
            <span class="entry-form__label-text">Повторите пароль:</span>
            <label class="entry-form__label">
              <input type="text" name="password" class="input-reset entry-form__input" required placeholder="*********************">
            </label>
          </div>
          <button class="btn-reset entry-form__btn">Зарегистрироваться</button>
        </form>
      </div>
    </div>
  </div>
</section>
