<section class="faq">
  <div class="container">
    <h1 class="faq__title">
      FAQ
    </h1>
    <div class="product__faq" data-faq>
      <h3 class="product__faq-title">
        ОБЩИЕ ВОПРОСЫ
      </h3>
      <ul class="product__faq-list list-reset" data-faq-list>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            ЧЕМ ЗАНИМАЕТСЯ ВАШ ИНТЕРНЕТ-МАГАЗИН?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
              пожалуйста,
              ознакомьтесь с нашей Политикой конфиденциальности.
            </p>
          </div>
        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            ГАРАНТИРОВАНА ЛИ БЕЗОПАСНОСТЬ МОИХ ДАННЫХ?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
              пожалуйста,
              ознакомьтесь с нашей Политикой конфиденциальности.
            </p>
          </div>

        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            ГАРАНТИРОВАНА ЛИ БЕЗОПАСНОСТЬ МОИХ ДАННЫХ?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
              пожалуйста,
              ознакомьтесь с нашей Политикой конфиденциальности.
            </p>
          </div>
        </li>
      </ul>
      <h3 class="product__faq-title">
        ТОВАРЫ
      </h3>
      <ul class="product__faq-list list-reset" data-faq-list>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            ВЫ РЕАЛИЗУЕТЕ ОРИГИНАЛЬНЫЕ ТОВАРЫ?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia culpa facere ipsa sit, qui quos
              ullam repudiandae corporis! Veniam quidem quis reiciendis nulla porro aliquid repellat eaque
              cumque dignissimos exercitationem!
            </p>
          </div>
        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            В ВАШЕМ МАГАЗИНЕ ПРЕДСТАВЛЕНЫ НОВЫЕ ТОВАРЫ?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
              quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
              itaque animi expedita!
            </p>
          </div>
        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            ПОЧЕМУ ЦЕНА ЗАВИСИТ ОТ РАЗМЕРА?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
              quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
              itaque animi expedita!
            </p>
          </div>
        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            СТОИМОСТЬ ТОВАРов ОКОНЧАТЕЛЬНая?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
              quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
              itaque animi expedita!
            </p>
          </div>
        </li>
      </ul>
      <h3 class="product__faq-title">
        ДОСТАВКАСЫ
      </h3>
      <ul class="product__faq-list list-reset" data-faq-list>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            СКОЛЬКО ИДЕТ ДОСТАВКА?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore rem et repudiandae
              cupiditate
              beatae itaque. Quod sed velit illo provident ratione enim non accusantium repellat quia! Magnam
              harum voluptatibus officia.
            </p>
          </div>
        </li>
        <li class="product__faq-item" data-faq-item>
          <h5 class="product__faq-item-title" data-faq-toggle>
            МОЖНО ЛИ ВЕРНУТЬ ТОВАР?
          </h5>
          <div class="product__faq-item-content" data-faq-content>
            <p class="product__faq-item-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore rem et repudiandae
              cupiditate
              beatae itaque. Quod sed velit illo provident ratione enim non accusantium repellat quia! Magnam
              harum voluptatibus officia.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
