<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__item">
        <h5 class="footer__item-title">
          Каталог
        </h5>
        <nav class="footer__menu">
          <ul class="footer__menu-list list-reset">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Одежда</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Обувь</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Аксессуары</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Расчет стоимости</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">
          Информация
        </h5>
        <nav class="footer__menu">
          <ul class="footer__menu-list list-reset">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Блог</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Контакты</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Доставка</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Оплата</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">
          Контакты
        </h5>
        <ul class="footer__menu-list list-reset">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">FAQ</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link footer__mail" href="#">info@xwear.info</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link footer__phone" href="#">+7 993 608 38 85</a>
          </li>
        </ul>
        <div class="footer__soc1al soc1al">
          <h6 class="soc1al__title">Мессенджеры</h6>
          <ul class="soc1al__list list-reset">
            <li class="soc1al__item">
              <a class="soc1al__link soc1al__link--tg" href="#">
                <img loading="lazy" src="img/tg-icon.svg" width=30"" height="30" alt="">
              </a>
            </li>
            <li class="soc1al__item">
              <a class="soc1al__link soc1al__link--wa" href="#">
                <img loading="lazy" src="img/wa-icon.svg" width=30"" height="30" alt="">
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__soc1al soc1al">
          <h6 class="soc1al__title">Наши соц.сети</h6>
          <ul class="soc1al__list list-reset">
            <li class="soc1al__item">
              <a class="soc1al__link soc1al__link--vk" href="#">
                <img loading="lazy" src="img/vk-icon.svg" width=30"" height="30" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">
          Подписка на новости
        </h5>
        <p class="footer__item-text">
          Будьте в курсе скидок и новостей
        </p>
        <form action="#" class="footer__form">
          <input type="text" name="mail" class="input-reset footer__form-input" placeholder="Ваш email">
          <button class="btn-reset footer__form-btn">
            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 9L5 5L1 1" stroke="#121214" stroke-width="1.6" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </form>
        <p class="footer__form-text">
          Подписываясь на рассылку вы соглашатесь с обработкой персональных данных
        </p>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__logo" href="/">
        <img loading="lazy" src="img/footer-logo.svg" class="footer__logo-img" width="99" height="41" alt="logo">
      </a>
      <a class="footer__copy" href="/">
        <img loading="lazy" src="img/footer-copy.svg" class="footer__copy-img" width="140" height="24" alt="copy">
      </a>
      <div class="footer__policy">
        <a class="footer__policy-link" href="#">Политика конфиденциальности</a>
        <a class="footer__policy-link" href="#">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>
