<section class="hero">
  <div class="hero__container">
    <div class="swiper hero__slider">
      <div class="hero__content">
        <h2 class="hero__title">Широкий ассортимент Одежды</h2>
        <p class="hero__text">
          Одежда от известные брендов у нас в каталоге. Только качественные вещи.
        </p>
        <a class="hero__link link-btn" href="#">Перейти в каталог</a>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-img">
            <img src="img/hero-slider/1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-img">
            <img src="img/hero-slider/1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-img">
            <img src="img/hero-slider/1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-img">
            <img src="img/hero-slider/1.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="hero__slider-btns">
        <div class="hero__slider-btn hero__slider-btn--prev">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.292893 7.70711C-0.0976314 7.31658 -0.0976314 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976317 7.31658 -0.0976318 7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711Z"
              fill="#121214" />
          </svg>
        </div>
        <div class="hero__slider-btn hero__slider-btn--next">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.70711 7.70711C8.09763 7.31658 8.09763 6.68342 7.70711 6.29289L1.70711 0.292893C1.31658 -0.0976317 0.683418 -0.0976318 0.292894 0.292893C-0.0976309 0.683417 -0.0976309 1.31658 0.292894 1.70711L5.58579 7L0.292893 12.2929C-0.0976314 12.6834 -0.0976314 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7.70711 7.70711Z"
              fill="#121214" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
