<section class="home-slider section">
  <div class="container">
    <div class="home-slider__inner">
      <h2 class="home-slider__title h2">Одежда</h2>
      <a class="home-slider__link" href="#">
        <span>больше товаров </span>
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 9.5L5 5.5L1 1.5" stroke="#121214" stroke-width="1.6" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg></a>
    </div>
    <div class="swiper home-slider__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/5.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Nike Court Zoom Cage 2
            </h3>
            <div class="product-card__price">от<span>4 699</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/6.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Air Force 1 Ultra
            </h3>
            <div class="product-card__price">от<span>6 789</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/7.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Air Force 1 Ultra Flyknit
            </h3>
            <div class="product-card__price">от<span>3 129</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/8.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Men’s Soccer Shoes
            </h3>
            <div class="product-card__price">от<span>2 699</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/1.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Nike Court Zoom Cage 2
            </h3>
            <div class="product-card__price">от<span>4 699</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/2.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Air Force 1 Ultra
            </h3>
            <div class="product-card__price">от<span>6 789</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/3.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Air Force 1 Ultra Flyknit
            </h3>
            <div class="product-card__price">от<span>3 129</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="img/catalog/4.jpg" alt="">
            </div>
            <h3 class="product-card__title">
              Men’s Soccer Shoes
            </h3>
            <div class="product-card__price">от<span>2 699</span>₽</div>
            <button class="product-card__favorite btn-reset">
              <img loading="lazy" src="img/icons/product-card-favorite.svg" width="21" height="20" alt="">
            </button>
          </article>
        </div>
      </div>
      <div class="home-slider__slider-btns">
        <div class="swiper-pagination"></div>
        <div class="home-slider__slider-btn--prev">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 13L1 7L7 1" stroke="#121214" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="home-slider__slider-btn--next">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#121214" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>

  </div>
</section>
