<section class="home-slider section">
  <div class="container">
    <div class="home-slider__inner">
      <h2 class="home-slider__title h2">Наш блог</h2>
      <a class="home-slider__link" href="#">
        <span>больше статей</span>
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 9.5L5 5.5L1 1.5" stroke="#121214" stroke-width="1.6" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg></a>
    </div>
    <div class="swiper home-slider__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide home-slider__slide blog-card__wrapper">
          <article class="blog-card">
            <div class="blog-card__img">
              <img src="img/blog/1.jpg" alt="">
            </div>
            <h3 class="blog-card__title">
              Делаем скидки на всю женскую одежду осеннего сезона
            </h3>
            <p class="blog-card__text">
              Мы запускаем акцию. Готовься к осени с лета. На протяжении всего лета покупайте женские осенние вещи со
              скидками.
            </p>
            <div class="blog-card__info">
              <a class="blog-card__link" href="#">Узнать подробнее...</a>
              <time datetime="16 июня 2023">16 июня 2023</time>
            </div>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide blog-card__wrapper">
          <article class="blog-card">
            <div class="blog-card__img">
              <img src="img/blog/2.jpg" alt="">
            </div>
            <h3 class="blog-card__title">
              Джинсы для всех друзей. Скидки на большие покупки
            </h3>
            <p class="blog-card__text">
              Мы запускаем акцию. Готовься к осени с лета. На протяжении всего лета покупайте женские осенние вещи со
              скидками.
            </p>
            <div class="blog-card__info">
              <a class="blog-card__link" href="#">Узнать подробнее</a>
              <time datetime="16 июня 2023">16 июня 2023</time>
            </div>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide blog-card__wrapper">
          <article class="blog-card">
            <div class="blog-card__img">
              <img src="img/blog/3.jpg" alt="">
            </div>
            <h3 class="blog-card__title">
              Джинсы для всех друзей. Скидки на большие покупки
            </h3>
            <p class="blog-card__text">
              Мы запускаем акцию. Готовься к осени с лета. На протяжении всего лета покупайте женские осенние вещи со
              скидками.
            </p>
            <div class="blog-card__info">
              <a class="blog-card__link" href="#">Узнать подробнее</a>
              <time datetime="16 июня 2023">16 июня 2023</time>
            </div>
          </article>
        </div>
        <div class="swiper-slide home-slider__slide blog-card__wrapper">
          <article class="blog-card">
            <div class="blog-card__img">
              <img src="img/blog/1.jpg" alt="">
            </div>
            <h3 class="blog-card__title">
              Делаем скидки на всю женскую одежду осеннего сезона
            </h3>
            <p class="blog-card__text">
              Мы запускаем акцию. Готовься к осени с лета. На протяжении всего лета покупайте женские осенние вещи со
              скидками.
            </p>
            <div class="blog-card__info">
              <a class="blog-card__link" href="#">Узнать подробнее</a>
              <time datetime="16 июня 2023">16 июня 2023</time>
            </div>
          </article>
        </div>
      </div>
      <div class="home-slider__slider-btns">
        <div class="swiper-pagination"></div>
        <div class="home-slider__slider-btn--prev">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 13L1 7L7 1" stroke="#121214" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="home-slider__slider-btn--next">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#121214" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>

  </div>
</section>
