<section class="placement">
  <div class="container">
    <h1 class="placement__title">
      ОФОРМЛЕНИЕ ЗАКАЗА
    </h1>
    <div class="placement__inner">
      <form action="#" class="address-form placement__item">
        <h3 class="placement__item-title">
          ПЛАТЕЖНЫЕ РЕКВИЗИТЫ
        </h3>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Ваше имя: </span>
            <input type="text" name="Имя" class="input-reset address-form__input" placeholder="Введите ваш имя">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Фамилия:</span>
            <input type="text" name="Фамилия" class="input-reset address-form__input"
              placeholder="Введите вашу фамилию">
          </label>
        </div>
        <div class="address-form__item">
          <label class="address-form__label">
            <span class="address-form__label-text">Название компании: <span>(не обязательно)</span></span>
            <input type="text" name="Компания" class="input-reset address-form__input" placeholder="Введите название">
          </label>
        </div>
        <div class="address-form__item">
          <label class="address-form__label">
            <span class="address-form__label-text">Страна:</span>
            <select class="address-form__input" name="Страна" data-trigger>
              <option value="Выбрать страну">Выбрать страну</option>
            </select>
          </label>
        </div>
        <div class="address-form__item">
          <label class="address-form__label">
            <span class="address-form__label-text">Улица:</span>
            <input type="text" name="Имя" class="input-reset address-form__input" placeholder="Введите название улицы">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Номер дома / квартиры</span>
            <input type="text" name="Номер дома" class="input-reset address-form__input"
              placeholder="Введите номер дома и квартиры">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Город</span>
            <input type="text" name="Город" class="input-reset address-form__input" placeholder="Ваш город">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Область / район</span>
            <input type="text" name="Область" class="input-reset address-form__input"
              placeholder="Введите область или район">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Индекс</span>
            <input type="number" name="Индекс" class="input-reset address-form__input" placeholder="Введите индекс">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Email адрес:</span>
            <input type="email" name="Email" class="input-reset address-form__input" placeholder="Введите Ваш Email">
          </label>
        </div>
        <div class="address-form__item address-form__item--50">
          <label class="address-form__label">
            <span class="address-form__label-text">Номер телефона:</span>
            <input type="tel" name="телефон" class="input-reset address-form__input"
              placeholder="+7 (000) 000 - 00 - 00">
          </label>
        </div>

        <label class="entry-form__details-checkbox">
          <input type="checkbox" class="entry-form__details-checkbox-field" required checked>
          <span class="entry-form__details-checkbox-content">Завести аккаунт?</span>
        </label>
      </form>
      <div class="placement__item">
        <h3 class="placement__item-title">
          ВАШ ЗАКАЗ
        </h3>

        <button class="placement__item-btn btn-reset">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>
