<section class="product">
  <div class="container">
    <article class="product__article">
      <div class="product__top">
        <div class="product__gallery">
          <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide product__slide">
                <img src="img/product/1.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/2.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/3.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/4.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
            </div>
          </div>
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide product__slide">
                <img src="img/product/1.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/2.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/3.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
              <div class="swiper-slide product__slide">
                <img src="img/product/4.jpg" alt="">
                <div class="product__slide-img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__info">
          <h1 class="product__title">
            Кроссовки Nike Court Zoom Cage 2
          </h1>
          <div class="product__info-title">EU размеры:</div>
          <ul class="product__list">
            <li class="product__item">
              <button class="product__btn btn-reset checked">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
            <li class="product__item">
              <button class="product__btn btn-reset">
                <span class="product__size">36</span>
                <span class="product__price">
                  <span>3 699</span>
                  <span>₽</span>
                </span>
              </button>
            </li>
          </ul>
          <div class="product__info-box">
            <div class="product__label">
              <span class="product__label-price">3 699₽</span>
              <span class="product__label-size">размер - 40</span>
            </div>
            <a class="product__link link-btn" href="#">Добавить в корзину</a>
          </div>
        </div>
      </div>
      <div class="product__bottom">
        <div class="tabs products-tabs" data-tabs="tab">
          <ul class="list-reset tabs__nav products-tabs__nav">
            <li class="tabs__nav-item products-tabs__nav-item"><button class="btn-reset tabs__nav-btn products-tabs__nav-btn"
                type="button">Детали</button></li>
            <li class="tabs__nav-item products-tabs__nav-item"><button class="btn-reset tabs__nav-btn products-tabs__nav-btn" type="button">Доставка</button></li>
            <li class="tabs__nav-item products-tabs__nav-item"><button class="btn-reset tabs__nav-btn products-tabs__nav-btn" type="button">Оплата</button></li>
            <li class="tabs__nav-item products-tabs__nav-item"><button class="btn-reset tabs__nav-btn products-tabs__nav-btn" type="button">FAQ</button></li>
          </ul>
          <div class="tabs__content products-tabs__content ">
            <div class="tabs__panel">
              <div class="product__details">
                <dl class="product__details-list">
                  <div class="product__details-item">
                    <dt>Артикул</dt>
                    <div class="product__details-decor"></div>
                    <dd>46765753</dd>
                  </div>
                  <div class="product__details-item">
                    <dt>Категория</dt>
                    <div class="product__details-decor"></div>
                    <dd>
                      <a href="#">
                        Обувь
                      </a>
                    </dd>
                  </div>
                  <div class="product__details-item">
                    <dt>Бренд</dt>
                    <div class="product__details-decor"></div>
                    <dd>
                      <a href="#">
                        Nike
                      </a>
                    </dd>
                  </div>
                  <div class="product__details-item">
                    <dt>Модель</dt>
                    <div class="product__details-decor"></div>
                    <dd>
                      <a href="#">
                        Nike Air Force
                      </a>
                    </dd>
                  </div>
                  <div class="product__details-item">
                    <dt>Цвет</dt>
                    <div class="product__details-decor"></div>
                    <dd>
                      <a href="#">
                        Голубой
                      </a>
                    </dd>
                  </div>
                  <div class="product__details-item">
                    <dt>Коллаборация</dt>
                    <div class="product__details-decor"></div>
                    <dd>Nike X OFF-WHITE</dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="product__delivery">
                <h5 class="product__delivery-title">Доставка</h5>
                <p class="product__delivery-text">
                  Команда XWEAR предоставляет услугу доставки только оригинальных товаров c
                  крупнейшего китайского маркетплейса Poizon, чтобы наши клиенты экономили более 40% на каждой покупке.
                  Мы ценим вас, поэтому постоянно работаем над
                  логистикой, чтобы ускорить время доставки заказов!
                </p>
                <p class="product__delivery-text">
                  Все заказы отправляются из-за границы с возможностью доставки в любой город России,
                  перед отправкой товар всегда проходит проверку на подлиность
                </p>
                <p class="product__delivery-text">
                  Доставляем вещи из-за границы за 12-16 дней до России, включая день оплаты, с возможностью
                  самовывоза из города Екатеринбург. В другие города отправляем СДЭКом.
                </p>
                <p class="product__delivery-text">
                  СДЭК оплачивается при получении. Цена доставки зависит от города вашего проживания,
                  в среднем это 350 ₽.
                </p>
                <h6 class="product__delivery-subtitle">В личном кабинете вы сможете отслеживать статус заказа:</h6>
                <ul class="product__delivery-list list-reset">
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        В обработке
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ ожидает подтверждения платежа.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        Оплачен
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ оплачен и в течении дня будет выкуплен с китайского маркетплейса Poizon.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        Доставка на склад в Китае
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ выкуплен и уже направляется на наш склад в Китае.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        На складе в Китае
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ поступил на наш склад в Китае и скоро будет отправлен в Россию.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        Доставка на склад в РФ
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ отправился на наш склад в России.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        На складе в РФ
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ поступил на наш склад и в скором времени отправиться на указанный вами адрес.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        Доставляется
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ уже направляется на указанный вами адрес.
                      </p>
                    </div>
                  </li>
                  <li class="product__delivery-item">
                    <div class="product__delivery-item-img">
                      <img src="img/delivery-icon.svg" alt="">
                      <div class="product__delivery-item-title">
                        Завершен
                      </div>
                      <p class="product__delivery-item-text">
                        Заказ прибыл в место вручения.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="product__payment">
                <h3 class="product__payment-title">Способы оплаты:</h3>
                <p class="product__payment-text">
                  Команда XWEAR предоставляет услугу доставки только оригинальных товаров c
                  крупнейшего китайского маркетплейса Poizon, чтобы наши клиенты экономили
                  более 40% на каждой покупке.
                </p>
                <h4 class="product__payment-subtitle">Мы принимаем оплату банковскими картами:</h4>
                <ul class="product__payment-list list-reset">
                  <li class="product__payment-item">
                    <div class="product__payment-img">
                      <img loading="lazy" src="img/payment-1.svg" width="65" height="45" alt="">
                    </div>
                  </li>
                  <li class="product__payment-item">
                    <div class="product__payment-img">
                      <img loading="lazy" src="img/payment-2.svg" width="65" height="45" alt="">
                    </div>
                  </li>
                  <li class="product__payment-item">
                    <div class="product__payment-img">
                      <img loading="lazy" src="img/payment-3.svg" width="65" height="45" alt="">
                    </div>
                  </li>
                </ul>
                <p class="product__payment-text">
                  Стоимость каждого товара окончательная. В нее входит выкуп товара на Poizon, доставка его
                  на наш склад в Китае, доставка из Китая до склада в городе Екатеринбург, все таможенные сборы
                  и пошлины уже включены в стоимость.
                <p class="product__payment-text">
                  Если вам нужно отправить товар по России, вы сможете выбрать адрес доставки во время оформления
                  заказа. Доставка оплачивается отдельно при получении посылки, обычно это не более 350 рублей.
                </p>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="product__faq" data-faq>
                <h3 class="product__faq-title">
                  ОБЩИЕ ВОПРОСЫ
                </h3>
                <ul class="product__faq-list list-reset" data-faq-list>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      ЧЕМ ЗАНИМАЕТСЯ ВАШ ИНТЕРНЕТ-МАГАЗИН?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
                        пожалуйста,
                        ознакомьтесь с нашей Политикой конфиденциальности.
                      </p>
                    </div>
                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      ГАРАНТИРОВАНА ЛИ БЕЗОПАСНОСТЬ МОИХ ДАННЫХ?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
                        пожалуйста,
                        ознакомьтесь с нашей Политикой конфиденциальности.
                      </p>
                    </div>

                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      ГАРАНТИРОВАНА ЛИ БЕЗОПАСНОСТЬ МОИХ ДАННЫХ?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Мы гарантируем полную безопасность ваших персональных данных. Если у вас есть вопросы,
                        пожалуйста,
                        ознакомьтесь с нашей Политикой конфиденциальности.
                      </p>
                    </div>
                  </li>
                </ul>
                <h3 class="product__faq-title">
                  ТОВАРЫ
                </h3>
                <ul class="product__faq-list list-reset" data-faq-list>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      ВЫ РЕАЛИЗУЕТЕ ОРИГИНАЛЬНЫЕ ТОВАРЫ?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia culpa facere ipsa sit, qui quos
                        ullam repudiandae corporis! Veniam quidem quis reiciendis nulla porro aliquid repellat eaque
                        cumque dignissimos exercitationem!
                      </p>
                    </div>
                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      В ВАШЕМ МАГАЗИНЕ ПРЕДСТАВЛЕНЫ НОВЫЕ ТОВАРЫ?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
                        quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
                        itaque animi expedita!
                      </p>
                    </div>
                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      ПОЧЕМУ ЦЕНА ЗАВИСИТ ОТ РАЗМЕРА?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
                        quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
                        itaque animi expedita!
                      </p>
                    </div>
                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      СТОИМОСТЬ ТОВАРов ОКОНЧАТЕЛЬНая?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi est tenetur cupiditate repellat
                        quod esse eaque minus facilis, corrupti rem impedit perspiciatis modi! Maiores libero sequi non
                        itaque animi expedita!
                      </p>
                    </div>
                  </li>
                </ul>
                <h3 class="product__faq-title">
                  ДОСТАВКАСЫ
                </h3>
                <ul class="product__faq-list list-reset" data-faq-list>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      СКОЛЬКО ИДЕТ ДОСТАВКА?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore rem et repudiandae
                        cupiditate
                        beatae itaque. Quod sed velit illo provident ratione enim non accusantium repellat quia! Magnam
                        harum voluptatibus officia.
                      </p>
                    </div>
                  </li>
                  <li class="product__faq-item" data-faq-item>
                    <h5 class="product__faq-item-title" data-faq-toggle>
                      МОЖНО ЛИ ВЕРНУТЬ ТОВАР?
                    </h5>
                    <div class="product__faq-item-content" data-faq-content>
                      <p class="product__faq-item-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore rem et repudiandae
                        cupiditate
                        beatae itaque. Quod sed velit illo provident ratione enim non accusantium repellat quia! Magnam
                        harum voluptatibus officia.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
