<section class="recovery">
  <div class="container">
    <div class="recovery__inner">
      <h1 class="recovery__title">
        Восстановление пароля
      </h1>
      <p class="recovery__text">
        Забыли свой пароль? Укажите свой Email или имя пользователя. Ссылку на создание нового пароля вы получите по
        электронной почте.
      </p>
      <form action="#" class="recovery-form">
        <div class="recovery-form__item">
          <label class="recovery-form__label">
            <span class="recovery-form__text">
              Email:
            </span>
            <input type="email" name="Email" class="input-reset recovery-form__input" required placeholder="Введите Ваши email">
          </label>
        </div>
        <button class="btn-reset recovery-form__btn">сброс пароля</button>
      </form>
    </div>
  </div>
</section>
<section class="recovery">
  <div class="container">
    <div class="recovery__inner">
      <h1 class="recovery__title">
        Восстановление пароля
      </h1>
      <p class="recovery__text--info">
        Забыли свой пароль? Укажите свой Email или имя пользователя. Ссылку на создание нового пароля вы получите по
        электронной почте.
      </p>

    </div>
  </div>
</section>
