<section class="steps">
  <div class="steps__container">
    <div class="steps__inner">
      <div class="steps__content">
        <h2 class="steps__title">
          Рассчитать стоимость
        </h2>
        <p class="steps__text">
          Если вам не удалось найти то, что искали, вы всегда можете воспользоваться автоматическим расчетом стоимость
          заказа на маркетплейсе <span>Poizon</span>, включая комиссию сервиса и доставку.
        </p>
        <ul class="steps__list list-reset">
          <li class="steps__item">
            <div class="steps__item-num"><svg width="77" height="77" viewBox="0 0 77 77" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="38.5" cy="38.5" r="38.5" fill="white" fill-opacity="0.01" />
                <circle cx="38.5" cy="38.5" r="38" stroke="white" stroke-opacity="0.46" />
                <path d="M39.3867 31.2H42.1707V48H38.7387V34.872L34.3227 37.368V34.056L39.3867 31.2Z" fill="white" />
              </svg>
            </div>
            <div class="steps__item-text">Подробная, пошаговая статья о том, как установить приложение Poizon</div>
          </li>
          <li class="steps__item">
            <div class="steps__item-num">
              <svg width="77" height="77" viewBox="0 0 77 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="38.5" cy="38.5" r="38.5" fill="white" fill-opacity="0.01" />
                <circle cx="38.5" cy="38.5" r="38" stroke="white" stroke-opacity="0.46" />
                <path
                  d="M36.6505 45.216H45.9145V48H31.7545V45.432L38.8585 40.032C39.6105 39.408 40.1625 38.936 40.5145 38.616C40.8825 38.296 41.2185 37.888 41.5225 37.392C41.8425 36.896 42.0025 36.408 42.0025 35.928C42.0025 35.208 41.7385 34.656 41.2105 34.272C40.6825 33.888 39.9865 33.696 39.1225 33.696C36.9945 33.696 35.8025 34.84 35.5465 37.128L32.2345 36.888C32.4105 34.872 33.1145 33.376 34.3465 32.4C35.5785 31.408 37.1625 30.912 39.0985 30.912C40.9545 30.912 42.4745 31.336 43.6585 32.184C44.8425 33.016 45.4345 34.232 45.4345 35.832C45.4345 36.824 45.1385 37.744 44.5465 38.592C43.9705 39.44 42.9545 40.408 41.4985 41.496L36.6505 45.216Z"
                  fill="white" />
              </svg>
            </div>
            <div class="steps__item-text">Напишите нам в Telegram или WhatsApp какую вещь хотите купить</div>
          </li>
        </ul>
        <a class="steps__link link-btn" href="#">Рассчитать стоимость</a>
      </div>
      <div class="steps__img">
        <img src="img/steps-decor.png" alt="">
      </div>
    </div>
  </div>
</section>
