<section class="basket">
  <div class="container">
    <h1 class="basket__title">
      Избранные товары
    </h1>
    <div class="basket__inner">
      <div class="basket__img">
        <img loading="lazy" src="img/wishlist-decor.svg" width="84" height="98" alt="">
      </div>
      <h2 class="basket__subtitle">
        Этот список желаний пуст.
      </h2>
      <p class="basket__text">
        У вас пока нет товаров в списке желаний. <br> На странице "Каталог" вы найдете много интересных товаров.
      </p>
      <a class="basket__link" href="#">
        Перейти в каталог
      </a>
    </div>
  </div>
</section>
